<app-header></app-header>

<!-- END section -->

<section class="site-section">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-md-4">
                    <div class="heading-wrap text-center element-animate">
                         <h4 class="sub-heading">RECHERCHER UN HABIBAT ET UN CITOYEN .</h4>
                         <h2 class="heading">Restez et profitez</h2>
                         <!-- <p class="mb-5 element-animate fadeInUp element-animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo similique natus, a recusandae? Dolorum, unde a quibusdam est? Corporis deleniti obcaecati quibusdam inventore fuga eveniet! Qui delectus tempore amet!</p> -->
                         <p class="mb-5 element-animate fadeInUp element-animated">
                              <a routerLink="/citoyens/about" class="btn btn-primary btn-sm">PLUS DE PROPOS DE NOUS</a>
                         </p>
                    </div>
               </div>
               <div class="col-md-1"></div>
               <div class="col-md-7 card border-0">
                    <img src="assets/images/home2.jpg" alt="Image placeholder" class="img-md-fluid" />
               </div>
          </div>
     </div>
</section>
<!-- END section -->

<section class="site-section bg-light">
     <div class="container">
          <div class="row mb-5">
               <div class="col-md-12 heading-wrap text-center">
                    <h4 class="sub-heading">RECHERCHEZ DES LOGEMENTS </h4>
                    <h2 class="heading">NOS LOGEMENTS</h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-7">
                    <div class="media d-block room mb-0">
                         <figure>
                              <img src="assets/images/home1.jpg" alt="Generic placeholder image" class="img-fluid" />
                              <div class="overlap-text">
                                   <span>
                                        MAISONS
                                        <span class="ion-ios-star"></span>
                                        <span class="ion-ios-star"></span>
                                        <span class="ion-ios-star"></span>
                                   </span>
                              </div>
                         </figure>
                         <div class="media-body">
                              <h3 class="mt-0"><a href="#">Appartement moderne</a></h3>
                              <ul class="room-specs">
                                   <li>
                                        <span class="ion-ios-people-outline"></span>
                                        3 chambres
                                   </li>
                                   <li>
                                        <span class="ion-ios-crop"></span>
                                        3 douches
                                   </li>
                              </ul>
                              <p>Quartier ; oro-tchede ( non loin de petit marché)</p>
                              <p><a routerLink="/citoyens/booknow" class="btn btn-primary btn-sm">RESERVEZ
                                        MAINTENANT</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-5 room-thumbnail-absolute">
                    <a href="#" class="media d-block room bg first-room"
                         style="background-image: url(assets/templateClient/images/img_2.jpg)">
                         <!-- <figure> -->
                         <div class="overlap-text">
                              <span>
                                   CHAMBRE MODERNE
                                   <span class="ion-ios-star"></span>
                                   <span class="ion-ios-star"></span>
                                   <span class="ion-ios-star"></span>
                              </span>
                              <span class="pricing-from">15MIL</span>
                         </div>
                         <!-- </figure> -->
                    </a>

                    <a href="#" class="media d-block room bg second-room"
                         style="background-image: url(assets/templateClient/images/img_4.jpg)">
                         <!-- <figure> -->
                         <div class="overlap-text">
                              <span>
                                   APPARTEMENT À LOUER
                                   <span class="ion-ios-star"></span>
                                   <span class="ion-ios-star"></span>
                                   <span class="ion-ios-star"></span>
                              </span>
                              <span class="pricing-from">80MIL</span>
                         </div>
                         <!-- </figure> -->
                    </a>
               </div>
          </div>
     </div>
</section>

<section class="section-cover" data-stellar-background-ratio="0.5"
     style="background-image: url(assets/templateClient/images/img_5.jpg)">
     <div class="container">
          <div class="row justify-content-center align-items-center intro">
               <div class="col-md-9 text-center element-animate">
                    <h2>Détendez-vous</h2>
                    <p class="lead mb-5">profitez de votre maison</p>
                    <!-- <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div> -->
               </div>
          </div>
     </div>
</section>
<!-- END section -->

<section class="site-section bg-light">
     <div class="container">
          <div class="row mb-5">
               <div class="col-md-12 heading-wrap text-center">
                    <h4 class="sub-heading">Publication recentes </h4>
                    <h2 class="heading">NOS PUBLICATIONS</h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-4" *ngFor="let item of allHabitat">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_3.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">{{item.typeMaison.name}}</a></h3>
                              <p class="mb-4">
                                   {{item.description}}
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
               <!--   <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_3.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">APPARTEMENT</a></h3>
                              <p class="mb-4">
                                   chambre avec douche interne , une petite véranda, entré voiture disponible eaux électricité (compteur individuel)
                                   Prix: 15000frs/ 17000frs/18000frs /20.000frs Quartier : Florina (Sekandé) Nombre de mois exigé: 6mois et 1an
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/home1.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">CHAMBRE</a></h3>
                              <p class="mb-4">
                                   Maison a louer 03chambres, 02 douches internes, 01 cuisine interne entièrement carrelée , Entrée véhicule , eau et
                                   électricité disponible Quartier : baoliwol (escale bar) Prix : 100.000fcfa/mois. Nombre de mois exigé :5mois+1.
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_5.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">STUDIO</a></h3>
                              <p class="mb-4">
                                   Chambre salon douche interne et cuisine moderne, carrelé Quartier ; oro-tchede ( non loin de petit marché) Prix :
                                   45.000frs Nombre de mois exigé :6+1
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div> -->
          </div>

          <div class="text-center">
               <a type="button" class="btn btn-primary btn-primary btn-sm" routerLink="/citoyens/room">Voir plus</a>
          </div>
     </div>
</section>
<!-- END section -->

<app-footer></app-footer>
<!-- END footer -->