
<app-header></app-header>
<section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-5">Formulaire de contact</h2>
        <form action="#" method="post">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="name">Nom</label>
                    <input type="text" id="name" class="form-control ">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="phone">Tel</label>
                    <input type="text" id="phone" class="form-control ">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control ">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="message">Écrire un message</label>
                    <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="submit" value="Envoyer un Message" class="btn btn-primary">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <!-- <h3 class="mb-5">Paragraphe</h3> -->
              <!-- <p class="mb-5"><img src="assets/templateClient/images/img_4.jpg" alt="" class="img-fluid"></p> -->
              <p>Explorez nos locations de maisons et chambres conçues avec soin, alliant discrétion et fonctionnalité pour répondre à vos besoins en matière de renseignement. Chaque endroit a été sélectionné avec précaution pour offrir un environnement sécurisé et confidentiel</p>
              <p>, où chaque détail est pensé pour préserver la confidentialité de vos activités. Optez pour notre collection exclusive, où le confort discret rencontre une infrastructure moderne, créant ainsi un cadre idéal pour des opérations de renseignement en toute discrétion.</p>
            </div>
      </div>
    </div>
  </section>
  <!-- END section -->


 
 

  <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/templateClient/images/img_5.jpg);">
    <div class="container">
      <div class="row justify-content-center align-items-center intro">
        <div class="col-md-9 text-center element-animate">
          <h2>Détendez-vous </h2>
          <p class="lead mb-5">profitez de votre maison</p>
          <!-- <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div> -->
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>