<app-header></app-header>


<main id="main" class="main">
     <div class="pagetitle">
          <h1>Habitats</h1>
          <nav>
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste</li>
               </ol>
          </nav>
     </div>
     <!-- End Page Title -->

     <section class="section dashboard">
          <div class="row">
               <!-- Left side columns -->
               <div class="col-lg-12">
                    <div class="row m-0">
                         <!-- Recent Sales -->
                         <div class="col-12 m-0">
                              <div class="card recent-sales overflow-auto" style="min-height: 600px">

                                   <div class="card-body">
                                        <h5 class="card-title"> Liste </h5>

                                        <table class="table table-bordered datatable">
                                             <thead>
                                                  <tr>
                                                       <th scope="col">N</th>
                                                       <th scope="col">Propretaire</th>
                                                       <th scope="col">Description</th>
                                                       <!-- <th scope="col">Secteur</th> -->
                                                       <th scope="col">Quartier</th>
                                                       <th scope="col">Commune</th>
                                                       <th>Action</th>
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                  <tr *ngFor="let item of habitats; let i = index">
                                                       <td>{{ i +1 }} </td>
                                                       <td>{{ item.proprietaire.nom}} </td>
                                                       <td> {{ item.description | slice:0:50}}</td>
                                                       <td> {{ item.quartier.name}}</td>
                                                       <td> {{ item.quartier.commune.name}}</td> 
                                                       <td>
                                                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                                                 <i class="fa-solid fa-ellipsis-vertical"></i>
                                                            </a>
                                                            <ul
                                                                 class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                                 <li>
                                                                      <a class="dropdown-item" type="button"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#upadteHabitat">
                                                                           <span class="text-primary">
                                                                                <i class="bi bi-map"></i>
                                                                                Map
                                                                           </span>
                                                                      </a>
                                                                 </li>
                                                                 <li>
                                                                      <a class="dropdown-item" type="button"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#upadteHabitat">
                                                                           <span class="text-success">
                                                                                <i class="fa fa-edit"></i>
                                                                                Mettre à jour
                                                                           </span>
                                                                      </a>
                                                                 </li>
                                                                 <li>
                                                                      <a class="dropdown-item">
                                                                           <span class="text-danger">
                                                                                <i class="fa-regular fa-trash-can"></i>
                                                                                Retirer
                                                                           </span>
                                                                      </a>
                                                                 </li>
                                                            </ul>
                                                       </td>
                                                  </tr>
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- End Left side columns -->
          </div>
     </section>
</main>

<div class="modal modal-lg fade" id="upadteHabitat" tabindex="-1">
     <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
               <div class="modal-body p-4">
                    <h5 class="card-title">Mettre à jour un Habitat</h5>

                    <app-forms-create-habitat></app-forms-create-habitat>
               </div>
          </div>
     </div>
</div>
<!-- End Modal Dialog Scrollable-->

<div class="modal modal-xl fade" id="viewhabitat" tabindex="-1">
     <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
               <div class="modal-body p-4">
                    <h5 class="card-title">Regarder l'habitat</h5>
                    <app-view-detail-habitat></app-view-detail-habitat>
               </div>
          </div>
     </div>
</div>
<!-- End Modal Dialog Scrollable-->