<form>
     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Regions</label>
          <div class="col-sm-10">
               <select class="form-select" multiple aria-label="multiple select example" style="height: 100px">
                    <option selected>Extreme Nord</option>
                    <option value="1">Nord</option>
               </select>
          </div>
     </div>

     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Departements</label>
          <div class="col-sm-10">
               <select class="form-select" multiple aria-label="multiple select example" style="max-height: 100px">
                    <option selected>Diamaré</option>
               </select>
          </div>
     </div>

     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">villes</label>
          <div class="col-sm-10">
               <select class="form-select" aria-label="multiple select example" style="max-height: 100px">
                    <option selected>Maroua</option>
               </select>
          </div>
     </div>
     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Commune</label>
          <div class="col-sm-10">
               <select class="form-select" aria-label="multiple select example" style="max-height: 100px">
                    <option selected>Maroua 1</option>
               </select>
          </div>
     </div>
     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Quartier</label>
          <div class="col-sm-10">
               <select class="form-select" aria-label="multiple select example" style="max-height: 100px">
                    <option selected>Pitoare</option>
               </select>
          </div>
     </div>
     <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Secteurs</label>
          <div class="col-sm-10">
               <select class="form-select" aria-label="multiple select example" style="max-height: 100px">
                    <option selected>Pitoare derriere chez Doppel</option>
                    <option>Pitoare proche de nianga</option>
               </select>
          </div>
     </div>
     <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Photos</label>
          <div class="col-sm-10">
               <input class="form-control" type="file" multiple id="formFile" />
          </div>
     </div>

     <div class="row mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
               <textarea class="form-control" style="height: 100px"></textarea>
          </div>
     </div>

     <div class="row mb-3">
          <div class="text-center">
               <button type="submit" class="btn btn-primary">Submit Form</button>
          </div>
     </div>
</form>
