<app-header></app-header>

<main id="main" class="main">
     <div class="pagetitle">
          <h1>Nouveau Citoyen</h1>
          <nav>
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Accueil</a></li>
                    <li class="breadcrumb-item active">Nouveau citoyen</li>
               </ol>
          </nav>
     </div>
     <!-- End Page Title -->
     <section class="section">
          <div class="row justify-content-center">
               <div class="col-lg-12">
                    <div class="card">
                         <div class="card-body">
                              <h5 class="card-title">Ajouter un citoyen</h5>
                              <!-- General Form Elements -->
                              <form [formGroup]="form" (ngSubmit)="submit()">
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" formControlName="name" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Prenom</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" formControlName="prenom" />
                                        </div>
                                   </div>
                                   <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                                        <div class="col-sm-10">
                                             <div class="form-check">
                                                  <input class="form-check-input" type="radio" formControlName="sexe" id="gridRadios1" value="Feminin" />
                                                  <label class="form-check-label" for="gridRadios1">Feminin</label>
                                             </div>
                                             <div class="form-check">
                                                  <input class="form-check-input" type="radio" formControlName="sexe" id="gridRadios2" value="Masculin" />
                                                  <label class="form-check-label" for="gridRadios2">Masculin</label>
                                             </div>
                                        </div>
                                   </fieldset>
                                   <div class="row mb-3">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                             <input type="email" class="form-control" formControlName="email"/>
                                        </div>
                                   </div>

                                   <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Situation matrimoniale</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example" formControlName="situationMat">
                                                  <option value="Celibataire">Celibataire</option>
                                                  <option value="Marié">Marié</option>
                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputNumber" class="col-sm-2 col-form-label">Contact</label>
                                        <div class="col-sm-10">
                                             <input type="number" class="form-control" formControlName="phone" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Nationalité</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example" formControlName="nationalite">
                                                  <!-- <option selected>Select</option> -->
                                                  <option value="Cameroun">Camerounaine</option>
                                                  <option value="Tchad">Tchadienne</option>
                                                  <option value="Gabon">Gabonais</option>
                                                  <option value="Nigeria">Nigeriane</option>
                                                  <option value="RCA">RCA</option>
                                                  <option value="Congo">Congolais</option>
                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputTtext" class="col-sm-2 col-form-label">profession</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" formControlName="profession" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Numero CNI</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" formControlName="numCni" />
                                        </div>
                                   </div>
                                   
                                   <div class="row mb-5">
                                        
                                        <label class="col-sm-2 col-form-label">Habitat</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example" formControlName="habitat">
                                                  <option *ngFor="let habitatItem of habitats" [value]="habitatItem.id">{{ habitatItem.proprietaire +" (lat :"+ habitatItem.latitude  +" longi :"+ habitatItem.longitude+" ) " }}</option>

                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <div class="col-sm-12 text-end">
                                             <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enregistrer</button>
                                        </div>
                                   </div>
                              </form>
                              <!-- End General Form Elements -->
                         </div>
                    </div>
               </div>
          </div>
     </section>
</main>
<!-- End #main -->
