<app-header></app-header>

<main id="main" class="main">
     <div class="pagetitle">
          <h1>Ajouter des citoyens</h1>
          <nav>
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">add-citizens</li>
               </ol>
          </nav>
     </div>
     <!-- End Page Title -->
     <section class="section">
          <div class="row justify-content-center">
               <div class="col-lg-8">
                    <div class="card">
                         <div class="card-body">
                              <h5 class="card-title">Ajouter un citoyen</h5>
                              <!-- General Form Elements -->
                              <form>
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Prenom</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                                   <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                                        <div class="col-sm-10">
                                             <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" />
                                                  <label class="form-check-label" for="gridRadios1">Feminin</label>
                                             </div>
                                             <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" />
                                                  <label class="form-check-label" for="gridRadios2">Masculin</label>
                                             </div>
                                        </div>
                                   </fieldset>
                                   <div class="row mb-3">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                             <input type="email" class="form-control" />
                                        </div>
                                   </div>

                                   <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Situation matrimoniale</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example">
                                                  <option selected>Select</option>
                                                  <option value="1">Celibataire</option>
                                                  <option value="2">Marié</option>
                                                  <option value="3">Divorcer</option>
                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputNumber" class="col-sm-2 col-form-label">Phone Number</label>
                                        <div class="col-sm-10">
                                             <input type="number" class="form-control" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Nationalité</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example">
                                                  <option selected>Select</option>
                                                  <option value="1">Cameroun</option>
                                                  <option value="2">Canada</option>
                                                  <option value="3">Divorcer</option>
                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputTtext" class="col-sm-2 col-form-label">profession</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Numero CNI</label>
                                        <div class="col-sm-10">
                                             <input type="text" class="form-control" />
                                        </div>
                                   </div>
                                   <div class="row mb-5">
                                        <label class="col-sm-2 col-form-label">Habitat</label>
                                        <div class="col-sm-10">
                                             <select class="form-select" aria-label="Default select example">
                                                  <option selected>Select</option>
                                                  <option value="1">Pont rouge</option>
                                                  <option value="2">Pont vert</option>
                                                  <option value="3">Domayo</option>
                                             </select>
                                        </div>
                                   </div>
                                   <div class="row mb-3">
                                        <div class="col-sm-12 text-end">
                                             <button type="submit" class="btn btn-primary">Submit Form</button>
                                        </div>
                                   </div>
                              </form>
                              <!-- End General Form Elements -->
                         </div>
                    </div>
               </div>
          </div>
     </section>
</main>
<!-- End #main -->
