  <!-- ======= Header ======= -->
  <app-header></app-header>

  <main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Utilisateurs</li>
          </ol>
        </nav>
      </div>
      <div>
        <button type="button"  data-bs-toggle="modal" data-bs-target="#adduser" class="btn btn-primary">AJOUTER UN UTILISATEUR</button>
     
      </div>
      <br/>
  
   
      
      <div class="container" >
        <div class="text-center">
          <div >
           
            <div class=>
                    <form >
                      <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="fullName" type="text" class="form-control" id="fullName" >
                        </div>
                      </div>
  
                     
  
                      
                      <div class="row mb-3">
                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">prenom</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="job" type="text" class="form-control" id="Job" >
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="text" class="form-control" id="Country">
                        </div>
                      </div>
  
                      
  
                      <div class="row mb-3">
                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="phone" type="text" class="form-control" id="Phone" >
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="email" class="form-control" id="Email" >
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-danger">Save </button>
                      </div>
                      
                     
                    </form><!-- End Profile Edit Form -->
  
                  </div>    
           
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
              <button type="button" class="btn btn-primary">enregistrer</button>
            </div>
          </div>
        </div>
      </div>
</main>