<app-header></app-header>

<section class="site-section">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-lg-5">
                    <div class="heading-wrap element-animate">
                         <h4 class="sub-heading">A  PROPOS DE NOUS</h4>
                         <h2 class="heading">Notre histoire</h2>
                         <p class="">
                            En novembre 2023, un groupe d'étudiants en ingénierie de niveau 5 à l'École nationale supérieure du pétrole et des
                              moteurs (ENSPM) s'est lancé dans un projet ambitieux dans le cadre de leur cursus. Animés par leur passion pour la
                              technologie et leur désir de résoudre des problèmes concrets, ces étudiants ont décidé de concevoir un site web
                              révolutionnaire dédié à la recherche de chambres en ligne
                         </p>

                         <!-- <p>
                              L'idée a pris forme lors d'une séance de brainstorming où les étudiants ont partagé leurs expériences de recherche de
                              logement, identifiant les lacunes et les défis auxquels beaucoup étaient confrontés. Forts de leur expertise technique
                              et de leur compréhension des besoins des utilisateurs, ils ont décidé de créer une plateforme conviviale et intuitive
                              qui simplifierait le processus de recherche et de réservation de chambres.
                         </p>

                         <p>
                              Le projet a débuté par une analyse approfondie des besoins des utilisateurs potentiels, suivie d'une phase de conception
                              collaborative. Les étudiants ont travaillé en équipe pour élaborer une interface utilisateur attrayante, intégrant des
                              fonctionnalités telles que la recherche avancée, des filtres personnalisables et des évaluations d'utilisateurs pour
                              chaque logement
                         </p>

                         <p>
                              La phase de développement a été caractérisée par des nuits blanches de codage et de débogage, mais l'équipe a persévéré
                              avec détermination. Ils ont exploité leurs compétences en programmation, en design web et en gestion de projet pour
                              créer un site robuste et fiable.
                         </p> -->
                    </div>
               </div>
               <div class="col-lg-2"></div>
               <div class="card border-0 col-lg-5">
                    <img src="assets/images/team.jpeg" alt="Image placeholder" class="img-md-fluid">
               </div>
          </div>
     </div>
</section>
<!-- END section -->

<section class="site-section bg-light">
     <div class="container">
          <div class="row mb-5">
               <div class="col-md-12 heading-wrap text-center">
                    <h4 class="sub-heading">Our Kind Staff</h4>
                    <h2 class="heading">Our Staff</h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/stela.jpeg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Scrum Master</div>
                              <h3 class="mb-3"><a href="#">TCHUISSEU</a></h3>
                              <p class="mb-4">NFANGNIA STELA MARILIA</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/manel.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Analyste</div>
                              <h3 class="mb-3"><a href="#">DOMPET</a></h3>
                              <p class="m-0">ISSA</p>
                              <p class="mb-4">MANEL</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/zile.enc" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Staff</div>
                              <h3 class="mb-3"><a href="#">ZILE</a></h3>

                              <p class="mb-4">NDJIBE MYLENA MELISSA</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>

         

               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/jeff.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Staff</div>
                              <h3 class="mb-3"><a href="#">JIOGHO</a></h3>
                              <p class="mb-4">JAGUE JEFF ENIL</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>

               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/koi.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Staff</div>
                              <h3 class="mb-3"><a href="#">KOIRANGA</a></h3>
                              <p class="mb-4">ALIOUM</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>

               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/images/team/frank.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">Staff</div>
                              <h3 class="mb-3"><a href="#">YANGA </a></h3>
                              <p class="mb-4">TONNDJI FRANK</p>
                              <!-- <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p> -->
                              <p><a class="btn btn-primary btn-outline-primary btn-sm">Read Bio</a></p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- END section -->

<app-footer></app-footer>