<app-header></app-header>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Region(s)</h1>
        <nav>
            <!--  <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Tab</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol> -->
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#basicModal">
                                        Nouvelle region
                                    </button>
                                </h5>

                                <table class="table table-bordered datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">N</th>
                                            <th scope="col">Label</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of regions; let i = index">
                                            <td scope="col">{{i+1}}</td>
                                            <td scope="col">{{item.name}}</td>
                                            <td scope="col">{{item.code}}</td>
                                            <td scope="col">
                                                <button type="button" class="btn btn-primary rounded-pill">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-danger rounded-pill">
                                                    <i class="bi bi-trash"></i>
                                                </button>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->


                </div>
            </div><!-- End Left side columns -->



        </div>
    </section>
    <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog">

            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nouvelle region</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label for="" class="col-sm-2 col-form-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="invalid-feedback"  *ngIf="form.get('name')?.invalid && form.get('name')?.touched && form.get('name')?.hasError('required')">
                                Champs obligatoire
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="" class="col-sm-2 col-form-label">code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="code">
                            </div>
                            <div class="invalid-feedback"  *ngIf="form.get('code')?.invalid && form.get('code')?.touched && form.get('code')?.hasError('required')">
                                Champs obligatoire
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" aria-label="Close" data-bs-dismiss="modal">Enregistrer</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</main>