<header role="banner">
     <nav class="navbar navbar-expand-md navbar-dark bg-light">
          <div class="container">
               <!-- <a class="navbar-brand" routerLink="/index.html">LuxuryHotel</a> -->
               <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExample05"
                    aria-controls="navbarsExample05"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
               >
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                         <li class="nav-item">
                              <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                         </li>
                         <li class="nav-item dropdown">
                              <a
                                   class="nav-link"
                                   routerLink="/citoyens/room"
                                   routerLinkActive="active"
                                   id="dropdown04"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                              >
                                   Maisons
                              </a>
                              <!-- <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" routerLink="/citoyens/room">Room Videos</a>
                                <a class="dropdown-item active" hrrouterLinkef="/citoyens/room">Presidential Room</a>
                                <a class="dropdown-item" routerLink="/citoyens/room">Luxury Room</a>
                                <a class="dropdown-item" routerLink="/citoyens/room">Deluxe Room</a>
                           </div> -->
                         </li>
                         <!-- <li class="nav-item">
                           <a class="nav-link" routerLinkActive="active" routerLink="/citoyens/blog">Blog</a>
                      </li> -->
                         <li class="nav-item">
                              <a class="nav-link" routerLinkActive="active" routerLink="/citoyens/about">About</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" routerLinkActive="active" routerLink="/citoyens/contact">Contact</a>
                         </li>

                         <li class="nav-item dropdown">
                              <a
                                   type="button"
                                   class="nav-link dropdown-toggle active"
                                   id="dropdown004"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                              >
                                   Espace Client
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdown004">
                                   <a class="dropdown-item" routerLink="/auth/connexion">Se connecter</a>
                                   <a class="dropdown-item active" routerLink="/auth/registre">Registre</a>
                              </div>
                         </li>

                         <!-- <li class="nav-item cta">
                           <a class="nav-link" routerLink="/citoyens/booknow"><span>Book Now</span></a>
                      </li> -->
                    </ul>
               </div>
          </div>
     </nav>
</header>
<!-- END header -->

<section
     class="site-hero site-hero-innerpage overlay"
     data-stellar-background-ratio="0.5"
     style="background-image: url(assets/templateClient/images/big_image_1.jpg)"
>
     <div class="container">
          <div class="row align-items-center site-hero-inner justify-content-center">
               <div class="col-md-12 text-center">
                    <div class="mb-5 element-animate fadeInUp element-animated">
                         <h1>Bienvenue dans nos Maisons de luxe</h1>
                         <p>Lisez nos actualités et événements quotidiens de notre hôtel de luxe.</p>
                    </div>
               </div>
          </div>
         
     </div>
</section>
<div class="container bd" style="height: 500px;">
    <div class="col-12">
         <div id="map" style="height: 400px" class=" text-center card  "></div>
    </div>
</div>

<!-- END section -->
<section class="site-section bg-light">
     <div class="container">
          <div class="row mb-5">
               <div class="col-md-12 heading-wrap text-center">
                    <h4 class="sub-heading">NOTRE Blog</h4>
                    <h2 class="heading">NOTRE BLOG RECENT</h2>
               </div>
          </div>
          <div class="row">
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_3.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">APPARTEMENT</a></h3>
                              <p class="mb-4">
                                   chambre avec douche interne , une petite véranda, entré voiture disponible eaux électricité (compteur individuel)
                                   Prix: 15000frs/ 17000frs/18000frs /20.000frs Quartier : Florina (Sekandé) Nombre de mois exigé: 6mois et 1an
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_6.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">CHAMBRE</a></h3>
                              <p class="mb-4">
                                   Maison a louer 03chambres, 02 douches internes, 01 cuisine interne entièrement carrelée , Entrée véhicule , eau et
                                   électricité disponible Quartier : baoliwol (escale bar) Prix : 100.000fcfa/mois. Nombre de mois exigé :5mois+1.
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="post-entry">
                         <img src="assets/templateClient/images/img_5.jpg" alt="Image placeholder" class="img-fluid" />
                         <div class="body-text">
                              <div class="category">NOUVELLES</div>
                              <h3 class="mb-3"><a href="#">STUDIO</a></h3>
                              <p class="mb-4">
                                   Chambre salon douche interne et cuisine moderne, carrelé Quartier ; oro-tchede ( non loin de petit marché) Prix :
                                   45.000frs Nombre de mois exigé :6+1
                              </p>
                              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">PLUS DE DEATIL</a></p>
                         </div>
                    </div>
               </div>
          </div>

          <div class="text-center">
               <a type="button" class="btn btn-primary btn-outline-primary btn-sm" routerLink="/citoyens/room">PLUS</a>
          </div>
     </div>
</section>
<!-- END section -->

<section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/templateClient/images/img_5.jpg)">
     <div class="container">
          <div class="row justify-content-center align-items-center intro">
               <div class="col-md-9 text-center element-animate">
                    <h2>Détendez-vous</h2>
                    <p class="lead mb-5">profitez de votre maison</p>
                    <!-- <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div> -->
               </div>
          </div>
     </div>
</section>

<!-- <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/templateClient/images/img_5.jpg);">
    <div class="container">
      <div class="row justify-content-center align-items-center intro">
        <div class="col-md-9 text-center element-animate">
          <h2>Relax and Enjoy your Holiday</h2>
          <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quidem tempore expedita facere facilis, dolores!</p>
          <div class="btn-play-wrap"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn-play popup-vimeo "><span class="ion-ios-play"></span></a></div>
        </div>
      </div>
    </div>
  </section> -->

<app-footer></app-footer>
