<footer class="site-footer">
     <div class="container">
          <div class="row mb-5">
               <div class="col-md-4">
                    <h3>ASSISTANCE TÉLÉPHONIQUE</h3>
                    <p>Appelez-nous maintenant 24h/24 et 7j/7.</p>
                    <p class="lead"><a href="tel://">+ 237 653 4771 70</a></p>
               </div>
               <div class="col-md-4">
                    <h3>CONNECTE-TOI AVEC NOUS</h3>
                    <p>Nous sommes socialisés. Suivez-nous</p>
                    <p>
                         <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                         <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
                         <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
                         <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>
                         <a href="#" class="p-3"><span class="fa fa-youtube-play"></span></a>
                    </p>
               </div>
               <div class="col-md-4">
                    <h3>CONNECTE-TOI AVEC NOUS</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, odio.</p> -->
                    <form action="#" class="subscribe">
                         <div class="form-group">
                              <button type="submit"><span class="ion-ios-arrow-thin-right"></span></button>
                              <input type="email" class="form-control" placeholder="Entrez email" />
                         </div>
                    </form>
               </div>
          </div>
          <div class="row justify-content-center">
               <!-- <div class="col-md-7 text-center">
                    &copy;                    Copyright &copy;
                    <script>
                         document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
               </div> -->
          </div>
     </div>
</footer>
